@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter";
}

.underline-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  transition: width 0.3s;
}

.underline-animation:hover::after {
  width: 100%;
}

@keyframes pop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-round-circle {
  animation: pop 0.8s linear infinite;
}
