@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter";
}

.underline-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  transition: width 0.3s;
}

.underline-animation:hover::after {
  width: 100%;
}

@keyframes pop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-round-circle {
  animation: pop 0.8s linear infinite;
}

.bg-gradient-multi {
  left: -32%;
  top: -17%;
  width: 600px;
  height: 600px;
  background:
    linear-gradient(122deg, transparent 57%, rgba(145, 1, 249, 0.94) 91%),
    linear-gradient(
      71deg,
      transparent 51%,
      rgba(251, 9, 180, 0.944) 85%,
      rgba(251, 9, 180, 1) 100%
    ),
    linear-gradient(39deg, rgba(72, 171, 224, 0) 48%, rgba(247, 233, 63, 1) 77%);
  z-index: 0;
  animation: rounded 3s linear infinite;
}

@keyframes rounded {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
